<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ASCII-ART {{.StatusCode}}</title>
</head>


<section class="page_status">

            <h1 class="text-center">{{.StatusCode}}</h1>
          </div>

          <div class="contant_status">
            <h3 class="h2">
              {{.Msg1}}
            </h3>

            <p>{{.Msg2}}</p>
            <a href="http://127.0.0.1:8088">
              <button class="submit" >Go to Home</button>
            </a>

  </div>
</section>

